[submodule "oefenweb.timezone"]
	path = roles/oefenweb.timezone
	url = https://github.com/Oefenweb/ansible-timezone.git
[submodule "oefenweb.locales"]
	path = roles/oefenweb.locales
	url = https://github.com/Oefenweb/ansible-locales.git
[submodule "oefenweb.postfix"]
	path = roles/oefenweb.postfix
	url = https://github.com/Oefenweb/ansible-postfix.git
[submodule "hifis.unattended_upgrades"]
	path = roles/hifis.unattended_upgrades
	url = https://github.com/hifis-net/ansible-role-unattended-upgrades.git
[submodule "robertdebock.bootstrap"]
	path = roles/robertdebock.bootstrap
	url = https://github.com/robertdebock/ansible-role-bootstrap.git
[submodule "robertdebock.autofs"]
	path = roles/robertdebock.autofs
	url = https://github.com/robertdebock/ansible-role-autofs.git
[submodule "geerlingguy.ntp"]
	path = roles/geerlingguy.ntp
	url = https://github.com/geerlingguy/ansible-role-ntp.git
